body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  padding: 8px 15px;
  background-color: #1100ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0000;
}