* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Verdana";
}
body {
    background-color: #f4f6f9;
    color: #000000;
    line-height: 1.6;
}
header {
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: rgb(255, 255, 255);
    padding: 5px 0;
    top : 0;
    width : 100%;
    text-align: center;
    position: fixed;
    justify-content: center;
    opacity: 0.6;
}
header h1 {
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #f6e900;
}
section {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
section h2 {
    margin-bottom: 15px;
    color: #007bff;
}
article {
    margin-top: 15px;
    padding: 15px;
    background: #f0f8ff;
    border-left: 5px solid #007bff;
}
details {
    margin-top: 10px;
    cursor: pointer;
}
ol, ul {
    margin: 15px 0 15px 25px;
}
progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
}
table tr:hover{
    background-color: #000000;
    color:#f0f8ff;
    cursor:pointer;
}
figure {
    text-align: center;
    margin: 20px 0;
}
figure img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
caption {
    font-weight: bold;
    margin-bottom: 10px;
}
th, td {
    padding: 12px;
    text-align: center;
}
th {
    background: #007bff;
    color: white;
}
form {
    max-width: 500px;
    margin: auto;
}
form label {
    font-weight: bold;
}
input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
    cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}
button {
    background: #073ef0;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #0c52e9;
}
footer {
    background: #0554af;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    section {
        margin: 20px 10px;
    }

}
