body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f1f5f9;
}
nav {
  background: linear-gradient(to right, #0284c7, #0f172a);
  color: white;
  padding: 14px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h2 {
  margin: 0;
  font-size: 22px;
}
nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
nav a:hover {
  color: #38bdf8;
}
nav button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}
nav button:hover {
  background: #dc2626;
}
.page {
  max-width: 700px;
  margin: 60px auto;
  padding: 35px;

  background: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.page h1 {
  color: #0f172a;
  margin-bottom: 10px;
}
.page p {
  color: #475569;
  font-size: 15px;
}
input,
select {
  width: 100%;
  margin: 8px 0;
  padding: 10px;

  border: 1px solid #cbd5e1;
  border-radius: 5px;
  font-size: 14px;
}
input:focus,
select:focus {
  outline: none;
  border-color: #0284c7;
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #0284c7;
  color: white;
  border: none;
  border-radius: 6px;

  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #0369a1;
}
.auth-box {
  width: 350px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  border-radius: 12px;
  text-align: center;
}
.auth-box h2 {
  margin-bottom: 25px;
  color: #0f172a;
}
.auth-box input,
.auth-box select {
  padding: 12px;
}
.auth-box button {
  background: #0f172a;
}
.auth-box button:hover {
  background: #1e293b;
}
.auth-box span {
  color: #0284c7;
  cursor: pointer;
  font-weight: 500;
}
.auth-box span:hover {
  text-decoration: underline;
}
.main-nav {
  background: linear-gradient(to right, #0284c7, #0f172a);
  color: white;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}
.menu {
  display: flex;
  align-items: center;
  gap: 18px;
}
.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.menu a:hover {
  color: #38bdf8;
}
.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.logout-btn:hover {
  background: #dc2626;
}
@media (max-width: 600px) {
  .main-nav {
    flex-direction: column;
    gap: 10px;
  }
  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main-nav .logout-btn {
  width: auto !important;   /* Remove full width */
  min-width: 90px;
  padding: 6px 16px;
}